{% extends "base.html" %}
{% block container_title %}
List of Exam
{% endblock  %}
{% block body_block  %}
{% include 'exam/search_form.html' %}
</br>
<div class="table-responsive">
  <table border='1' class='table table-bordered'>
    <thead style="background: linear-gradient(to bottom, #1e3c72, #2a5298); color: white; text-align: center;">
      <tr>
        <th>Exam</th>
        <th>Time Duration</th>
        <th>Actions</th>
      </tr>
    </thead>
    {# examList is in views.py #}

    {% for exams in examList %}
    <tr style="text-align:center;">
      <td>{{exams.exam}}</td>
      <td>{{exams.timeDuration}}</td>
      <td>
        <center>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" style="background: linear-gradient(to right, #182848, #4b6cb7); !important">Action</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'exam:update_exam' exams.id %}"><i class='fa fa-edit' style='color:green;'></i> Update</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'exam:detail_exam' exams.id %}"><i class='fa fa-info-circle' style='color: orange;'></i> View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'exam:delete_exam' exams.id %}"><i class='fa fa-times-circle' style='color: red'></i> Delete</a>
          </div>
        </div>
      </center>
      </td>
      {% empty %}
      <tr>
        <td colspan='3' align='center'><strong>There were no data found!"</strong></td>
      </tr>
    {% endfor %}


  </table>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> <span aria-hidden="true">&laquo;</span> Previous</a></li>
    {% endif %}

    {% for n in page_obj.paginator.page_range %}
      {% if page_obj.number == n %}
        <li class="page-item active">
          <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
        </li>
      {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock  %}
