{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block container_title %}
Details of Choice
<a href="{% url 'questions:choice_Create' %}"><i class="fa fa-plus-circle fa-lg" data-toggle="tooltip" data-placement="bottom" title="Create Another Choice" style="float:right;"></i></a>
<a href="{% url 'questions:choice_List' %}"><i class="fa fa-arrow-circle-left fa-lg" data-toggle="tooltip" data-placement="bottom" title="Back" style="float:right;"></i></a>
{% endblock  %}

{% block body_block  %}
{# employerDetail is in views.py #}

<i class="fa fa-angle-right" aria-hidden="true"></i>
Choice: {{choiceDetail.choices}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Created By: {{choiceDetail.createdBy}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Created Date: {{choiceDetail.createdDate}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Comments: {{choiceDetail.comments}}
{% endblock  %}
