{% extends "base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% block container_title %}
Details of Skills
<a href="{% url 'questions:skill_Create' %}" class="btn-create"><i class="fa fa-plus-circle fa-lg" data-toggle="tooltip" data-placement="bottom" title="Create Another Skill"></i></a>
<a href="{% url 'questions:skill_List' %}" class="btn-back-detail"><i class="fa fa-arrow-circle-left fa-lg" data-toggle="tooltip" data-placement="bottom" title="Back"></i></a>
{% endblock  %}

{% block body_block  %}
<link rel="stylesheet" type="text/css" href="{% static 'questions/css/style.css' %}">
{# skillDetail is in views.py #}

<i class="fa fa-angle-right" aria-hidden="true"></i>
Skill: {{skillDetail.skill}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Created By: {{skillDetail.createdBy}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Created Date: {{skillDetail.createdDate}}<br>
<i class="fa fa-angle-right" aria-hidden="true"></i>
Comments: {{skillDetail.comments}}
{% endblock  %}
