{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block additional_links  %}
<link href="{% static 'user_profile/assets/css/paper-dashboard.css' %}" rel="stylesheet" />
{% endblock  %}

{% block body_block %}

      <div class="content">
        <div class="row">


          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title"><span> <i class='fa fa-key'></i> </span>Change Password</h5>
              </div>
              <div class="dropdown-divider"></div>

              <div class="card-body">
                <form enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                      <p>Forgotten your password? Enter your old password and set a new password. Note that when you successfully change your password your account will be automatically logged out.<p>

                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form|crispy}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="">

                    </div>
                    <div class="update ml-auto mr-auto">
                      <input type="submit" value="Send Email" class="btn btn-primary btn-round">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}
