{% extends "base.html" %}

{% load staticfiles %}

{% block container_title  %}
Are you sure you want to delete this data?
<a href="{% url 'employer:dept_list' %}" class="btn-back"><i class="fa fa-arrow-circle-left fa-lg" data-toggle="tooltip" data-placement="bottom" title="Back"></i></a>
{% endblock  %}

{% block body_block  %}
<link rel="stylesheet" type="text/css" href="{% static 'employer/css/style.css' %}">
<div class="table-responsive">
  <table class='table table-border'>
    <thead>
      <tr class="tr-head">
        <th>Department </th>
        <th colspan='2'>Actions</th>
      </tr>
    </thead>
    {# employerList is in views.py #}
    <tr class="tr-data">
      <td>{{department.department}}</td>
      <td>
        <form action="" method="post">{% csrf_token %}
          <center><input class='btn btn-danger' type="submit" value="Confirm" id="btn-confirm"/></center>
        </form>
      </td>
     <td><center><a href="{% url 'employer:dept_list' %}" class="btn btn-dark btn-large" id="btn-cancel">Cancel</a></center> </td>
    </tr>
  </table>
</div>


{% endblock  %}
